<% var page_type = page.type ? page.type : page.path.slice(0, -5) %>

<article class="article article-type-<%= page_type %>">
  <div class="article-entry" itemprop="articleBody">
    <%- partial('post/title', {post: post}) %>
    <%- page_anchor(post.content) %>
    <div class="article-tips">
      <p class="tips-text">
        <a class="xx" href="">Rank this page</a>
        <span class="spliter"> | </span>
        <a class="xx" href="">Edit this page on GitHub.</a>
      </p>
    </div>
  </div>
  <% if (page_type === 'article') { %>
    <%- partial('_partial/post/nav') %>
  <% } %>
  <%- partial('_partial/footer') %>
</article>
