<script>
  ;(function(){
    var currentOrigin = location.origin || 'https://weex-project.io',
        currentPathname = location.pathname,
        currentLang = navigator.language || navigator.browserLanguage || 'en',
        selectedLang = '';

    if (currentOrigin.match(/weex(\-project)?\.io/i)) {
      if (window.localStorage) {
        selectedLang = window.localStorage.getItem('lang')
        currentLang = selectedLang ? selectedLang : currentLang
      }

      if (/zh|cn/i.test(currentLang)) { // Chinese
        if (currentPathname.indexOf('/cn/') != 0) {
          location.href = currentOrigin + '/cn/'
        }
      } else if (/en/i.test(currentLang)) { // English
        if (!/^\/$|^\/index/.test(currentPathname)) {
          location.href = currentOrigin
        }
      } else { // Other
        if (!/^\/$|^\/index/.test(currentPathname)) {
          location.href = currentOrigin
        }
      }
    }
  })();
</script>
<div class="scene header" style="background: #00BDFF;">
  <div class="scene-container">
    <div class="galaxy left">
      <canvas width="560" height="560" id="left-canvas"></canvas>
    </div>
    <div class="galaxy right">
      <canvas width="500" height="500" id="right-canvas"></canvas>
    </div>
    <%- partial('_partial/slider') %>
  </div>
</div>

<div class="scene users horizon overlength">
  <div class="scene-container">
    <div class="textbox">
      <h2><%= _p('index.users.title') %></h2>
    </div>
    <div class="sketch-content">
      <div class="user-logo tmall-logo">
        <h3><%= _p('index.users.tmall.title') %></h3>
        <div class="user-info">
          <h4><%= _p('index.users.tmall.title') %></h4>
          <p><%= _p('index.users.tmall.content') %></p>
        </div>
      </div>
      <div class="user-logo aliyun-logo">
        <h3><%= _p('index.users.aliyun.title') %></h3>
        <div class="user-info">
          <h4><%= _p('index.users.aliyun.title') %></h4>
          <p><%= _p('index.users.aliyun.content') %></p>
        </div>
      </div>
      <div class="user-logo taobao-logo">
        <h3><%= _p('index.users.taobao.title') %></h3>
        <div class="user-info">
          <h4><%= _p('index.users.taobao.title') %></h4>
          <p><%= _p('index.users.taobao.content') %></p>
        </div>
      </div>
      <div class="user-logo ding-logo">
        <h3><%= _p('index.users.dingtalk.title') %></h3>
        <div class="user-info">
          <h4><%= _p('index.users.dingtalk.title') %></h4>
          <p><%= _p('index.users.dingtalk.content') %></p>
        </div>
      </div>
      <div class="user-logo alibaba-logo">
        <h3><%= _p('index.users.alibaba.title') %></h3>
        <div class="user-info">
          <h4><%= _p('index.users.alibaba.title') %></h4>
          <p><%= _p('index.users.alibaba.content') %></p>
        </div>
      </div>
      <div class="user-logo cainiao-logo">
        <h3><%= _p('index.users.cainiao.title') %></h3>
        <div class="user-info">
          <h4><%= _p('index.users.cainiao.title') %></h4>
          <p><%= _p('index.users.cainiao.content') %></p>
        </div>
      </div>
      <div class="user-logo xiami-logo">
        <h3><%= _p('index.users.xiami.title') %></h3>
        <div class="user-info">
          <h4><%= _p('index.users.xiami.title') %></h4>
          <p><%= _p('index.users.xiami.content') %></p>
        </div>
      </div>
      <div class="user-logo youku-logo">
        <h3><%= _p('index.users.youku.title') %></h3>
        <div class="user-info">
          <h4><%= _p('index.users.youku.title') %></h4>
          <p><%= _p('index.users.youku.content') %></p>
        </div>
      </div>
      <div class="user-logo taopiaopiao-logo">
        <h3><%= _p('index.users.taopiaopiao.title') %></h3>
        <div class="user-info">
          <h4><%= _p('index.users.taopiaopiao.title') %></h4>
          <p><%= _p('index.users.taopiaopiao.content') %></p>
        </div>
      </div>
      <div class="user-logo fliggy-logo">
        <h3><%= _p('index.users.fliggy.title') %></h3>
        <div class="user-info">
          <h4><%= _p('index.users.fliggy.title') %></h4>
          <p><%= _p('index.users.fliggy.content') %></p>
        </div>
      </div>
      <div class="user-logo juhuasuan-logo">
        <h3><%= _p('index.users.juhuasuan.title') %></h3>
        <div class="user-info">
          <h4><%= _p('index.users.juhuasuan.title') %></h4>
          <p><%= _p('index.users.juhuasuan.content') %></p>
        </div>
      </div>
      <div class="user-logo qianniu-logo">
        <h3><%= _p('index.users.qianniu.title') %></h3>
        <div class="user-info">
          <h4><%= _p('index.users.qianniu.title') %></h4>
          <p><%= _p('index.users.qianniu.content') %></p>
        </div>
      </div>
    </div>
    <!--<div class="more">
      <a class="more" href="">More</a>
    </div>-->
  </div>
</div>

<%- partial('_partial/footer') %>

<%- js('js/swiper.min') %>
<%- js('js/velocity.js') %>
<script>
var swiper = new Swiper('.swiper-container', {
  nextButton: '.swiper-button-next',
  prevButton: '.swiper-button-prev',
  slidesPerView: 1,
  spaceBetween: 30,
  loop: false,
  autoplay: false,
  autoplayDisableOnInteraction: false
});
</script>
