<div class="scene users horizon overlength">
  <div class="sketch-content">
      <div class="title"><%= _p('index.whosuse') %></div>
      <ul class="app-listing">

      <% for (var user in site.data.users) { %>
        <li>
          <div class="download-btn">
            <a class="android" target="_blank" href="<%= site.data.users[user].android || '#' %>"></a>
            <a class="ios" target="_blank" href="<%= site.data.users[user].iOS || '#' %>"></a>
          </div>
          <div class="img" style="background-image:url(<%= site.data.users[user].icon %>)"></div>
          <div class="tooltip"><%= site.data.users[user].name %></div>
        </li>
      <% } %>
      </ul>
      <a class="addmore" href="https://github.com/apache/incubator-weex-site/tree/master/source/_data/users.yml" target="_blank">
        <%= _p('index.addmore') %>
        <span class="bottom"></span>
      </a>
  </div>
</div>

<!-- <div class="logo-box">
    <div class="name">
        <%= site.data.users[user].name %>
    </div>
    <div class="img" style="background-image:url(<%= site.data.users[user].icon %>)"></div>
    <a class="download-btn" href="<%= site.data.users[user].android %>">Android</a>
    <a class="download-btn" href="<%= site.data.users[user].iOS %>">iOS</a>
  </div> -->
